%p#notice= notice

%p
  %b Name:
  = @data_source.name
%p
  %b Description:
  = @data_source.description
%p
  %b Homepageurl:
  = @data_source.homepageurl

= link_to 'Edit', edit_data_source_path(@data_source)
\|
= link_to 'Back', data_sources_path
